<!DOCTYPE html>
<html data-ng-app="demoapp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DEMO: ng-magnify</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="../src/css/ng-magnify.css"/>
  <style>
  body {
    position: relative;
    padding-top: 50px;
  }
  #example1 {
    width: 100;
    height: auto;
  }
  #example1 .magnify-glass {
    width: 200px;
    height: 200px;
  }
  </style>
</head>
<body>

  <header class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Brand</a>
      </div>
    </div>
  </header>
  <div class="container">
    <br>
    <div class="row">
      <div class="col-xs-12">
        <button type="button" class="btn btn-primary" data-ng-click="imgSrc='img/nexus5.jpg'">Nexus5</button>
        <button type="button" class="btn btn-warning" data-ng-click="imgSrc='img/iphone.jpg'">iphone</button>
      </div>
    </div>
    <div class="row" data-ng-init="imgSrc='img/nexus5.jpg'">
      <div class="col-xs-12 col-md-4 col-md-offset-4">
        <div data-ng-controller="ExampleCtrl">
          <img id="example1" data-ng-magnify src="{{ imgSrc }}" ng-srcset="{{imgSrc}} 1024w" alt="Description ALT" title="Title image" height="1024" width="1024">
        </div>
      </div>
    </div>
  </div>
  <!--
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js"></script>
  <script src="../src/js/ng-magnify.js"></script>
  <script>
  var app = angular.module('demoapp', ['ngMagnify']);

  app.controller('ExampleCtrl', ['$scope', function ($scope) {

  }]);
  </script>
</body>
</html>
